[submodule "College-Management-Auth"]
	path = College-Management-Auth
	url = https://github.com/fan-of-stl/College-Management-Auth.git
[submodule "College-Management-Backend"]
	path = College-Management-Backend
	url = https://github.com/fan-of-stl/College-Management-Backend.git
[submodule "College-Management-Frontend"]
	path = College-Management-Frontend
	url = https://github.com/fan-of-stl/College-Management-Frontend.git
